*{
    margin: 0;
}
.menu ul{
    display: inline-flex;
    list-style: none;
    margin-top: 10px;
}
.menu{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    padding: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    padding: 40px;
}
 
.relative{
    background-image: url(banner-01.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.hone{
    color: whitesmoke;
    position: relative;
    margin-left: 350px;
    top: 240px;
    font-size: 30px;
}
.htwo{
    position: relative;
    background-color: whitesmoke;
    color: black;
    top: 240px;
    left:350px ;
    font-size: 10px;
    display: flex;
    padding: 10px;
    width: fit-content;
}
.htwo h2{
    position: relative;
    background-color: whitesmoke;
    color: orange;
    font-size: 20px;
}
.div2 h2{
    font-size: 20px;
}
.div2{
    display: flex;
    margin-top: 150px;
    justify-content: space-evenly;
}
.three{
    color: orange;
}
.fivth{
    margin-top: 20px;
}
.fourth{
    margin-top: 35px;
}
.third{
    margin-top: 30px;
}
.second{
    margin-top: 68px;
    color: orange;
}
.first{
    font-size: 50px;
    margin-top: 20px;
}
.shadow{
    box-shadow: -10px 10px 20px whitesmoke;
}
.iconone{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.icontwo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}
.iconthree{
    display: flex;
    justify-content: space-evenly;
    margin-top: 59px;
}
.iconfour{
    display: flex;
    justify-content: space-evenly;
    margin-top: 75px;
}
.shadow h3{
    margin-left: 20px;
}
.video{
    margin-top: 100px;
}
.video2{
    position: absolute;
    top: 1850px;
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.view h1{
    position: absolute;
    color: orange;
    top: 1620px;
    left: 700px;
    font-size: 15px;
}
.one{
    color: white;
    font-size: 40px;
    position: absolute;
    top: 1650px;
    left: 600px
}
.two{
    color: white;
    font-size: 40px;
    position: absolute;
    top: 1700px;
    left: 610px
}
.division{
    display: flex;
    justify-content: space-around;
}
.orange{
    background-color: rgb(255, 238, 233);
    display: flex;
    justify-content: space-evenly;
    margin-top: 350px;
    /*margin-right: 290px;
    margin-left: 90px;*/
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    width: 170px;
    border-radius: 10px;
}
.orange h1{
    color: rgb(243, 85, 37);
    margin-right: 25px;
}
.orange h2{
    font-size: 20px;
}
.deal2{
    margin-top: 100px;
    margin-left: 150px;
}
.inside{
    display: flex;
    justify-content: space-evenly;
    margin-top: -20px;
}
.orange1{
    height: fit-content;
    margin-top: 115px;
}
.inside h3{
    margin-left: -150px;
}
.Flat{
    background-color: rgb(250, 250, 250);
    width: fit-content;
    padding: 25px;
    font-size: 25px;
    box-shadow: -10px 10px 100px grey;
    border-radius: 25px;
}
.hfour{
    padding-left: 30px;
}
.height{
    padding-left: 55px;
}
.hfive{
    padding-left: 30px;
}
.hsix{
    padding-left: 25px;
}
.hseven{
    padding-left: 20px;
}
.info{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
.extra p{
    margin-top: 30px;
    font-size: 20px;
    text-align: start;
}
.extra h4{
    font-size: 20px;
}